---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "izabella.dev";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Hello! I'a a developer from Gothenburg, Sweden. Working as a Frontend developer alongside with digging deeper in the cloud knowledge. 
  Learning new things is a drive and I'm not afraid to take on new opportunities.</h2>
</BaseLayout>
