---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Hi!";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Izabella, Frontend developer, Gothenburg.</h2>
  <p>This site is very much under construction, but my hope is that I will build up somthing here over time</p> 
  <p>I will update the site, and the blog will be filled with what I am doing, what I am learning and thoughts about that.</p>
</BaseLayout>
