---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostListItem from '../components/PostListItem.astro';
import "../styles/global.css";
import type { Code, Debug } from "astro:components";

const allPosts = await Astro.glob("../pages/writing/*.md");
const pageTitle = "Writing";

---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.sort((a, b) => new Date(b.frontmatter.pubDate) - new Date(a.frontmatter.pubDate))
      .map((post) => <PostListItem url={post.url} {...post.frontmatter} />)}
  </ul>
</BaseLayout>



<style>
  ul {
    list-style: none;
    padding: 0;
  }
</style>
