---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>Published: {frontmatter.pubDate.slice(0,10)}</p>
    <slot />
    
    <div class="tags">
        <p>Tags: </p>
        {frontmatter.tags.map((tag: string) => (
          <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
    </div>
    
</BaseLayout>

<style>
  
    .tags {
      display: flex;
      align-items: baseline;
      gap: 0.5em;
      flex-wrap: wrap;
    }
  </style>